@import "tailwindcss";
@config "../../tailwind.config.mjs";

:root {
  --background: #f9f2ed;
  --foreground: #181818;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f2ed;
    --foreground: #181818;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
  cursor: none;
}

html {
  @apply overflow-auto transition-all duration-300 scroll-smooth;
  scrollbar-width: none;
  /* Firefox: sembunyikan scrollbar native */
}

html,
body {
  overflow-x: clip;
  width: 100%;
  overscroll-behavior: none;
}


/* Sembunyikan scrollbar native Webkit saat idle */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Tampilkan scrollbar hanya saat is-scrolling class aktif */
html.is-scrolling::-webkit-scrollbar {
  width: 8px;
}

html.is-scrolling::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

html.is-scrolling::-webkit-scrollbar-track {
  background: transparent;
}

.custom-cursor-outer,
.custom-cursor-inner {
  opacity: 0;
  will-change: transform;
  backface-visibility: hidden;
  pointer-events: none;
}

* {
  cursor: none !important;
}

/* Sembunyikan cursor bawaan untuk input dan text area agar hanya memakai custom cursor */
input,
textarea,
[contenteditable="true"] {
  cursor: none !important;
}

/* Tambahkan class ini ke elemen yang bisa diklik jika deteksi otomatis tidak bekerja */
.clickable {
  cursor: none !important;
}

@layer utilities {
  ::selection {
    background: #d1d1d1;
    color: #000;
  }
}

@media (max-width: 768px) {

  .custom-cursor-outer,
  .custom-cursor-inner {
    display: none !important;
  }

  * {
    cursor: auto !important;
  }
}